# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
static/
local_settings.py

# Virtualenv
venv/
ENV/
env/
.venv/
.env/

# VS Code
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Test & coverage
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Migrations
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.log
*/migrations/__pycache__/
*/migrations/*.sqlite3

# pipenv
Pipfile.lock

# dotenv
.env
.env.*

# Node (if using frontend)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Others
*.swp
*.swo
